<div class="weather-calendar">
    <div class="weather-now">
        <span class="degrees">26.0</span>
        <span class="degrees-unit">C</span>
        <span class="city">Sydney, AU</span>
        <span class="date-time"><%= date %></span>
    </div>
</div>
<div class="social">
    <ul>
        <li><a href="http://facebook.com">Facebook</a></li>
        <li><a href="http://twitter.com">Twitter</a></li>
        <li><a href="http://instagram.com">Instagram</a></li>
        <li><a href="http://youtube.com">Youtube</a></li>
    </ul>
</div>
<div class="search">
    <input type="image" src="img/busca04.png">
    <form role="search" method="get" id="searchform" action="//instagram.com/">
        <input type="text" placeholder="search and hit enter..." name="s" id="s">
    </form>
</div>
</header>
<div class="banner">
<h1><img src="img/gopro.fone.mochila_logo.png" alt="Gopro Fone Mochila Logo"></h1>
</div>
<div class="menu-opcoes">
<ul>
    <li><a href="/"><strong>HOME</strong></a></li>
    <li><a href="/destinos"><strong>DESTINOS</strong></a></li>
    <li><a href="/fotografias"><strong>FOTOGRAFIAS</strong></a></li>
    <li><a href="/roteiros"><strong>ROTEIROS</strong></a></li>
    <li><a href="/dicas"><strong>DICAS</strong></a></li>
</ul>
</div>