<div class="weather-calendar">
    <div class="weather-now">
        <span class="degrees">26.0</span>
        <span class="degrees-unit">C</span>
        <span class="city">Sydney, AU</span>
        <span class="date-time"><%= date %></span>
    </div>
</div>
<div class="social">
    <ul>
        <li><a href="http://facebook.com">Facebook</a></li>
        <li><a href="http://twitter.com">Twitter</a></li>
        <li><a href="http://instagram.com">Instagram</a></li>
        <li><a href="http://youtube.com">Youtube</a></li>
    </ul>
</div>
<div class="search">
    <input type="image" src="img/busca04.png">
    <form role="search" method="get" id="searchform" action="//instagram.com/">
        <input type="text" placeholder="search and hit enter..." name="s" id="s">
    </form>
</div>
</header>
<div class="banner">
<h1><img src="img/gopro.fone.mochila_logo.png" alt="Gopro Fone Mochila Logo"></h1>
</div>
<div class="menu-opcoes">
<ul>
    <li><a href="/"><strong>HOME</strong></a></li>
    <li><a href="/destinos"><strong>DESTINOS</strong></a></li>
        <div class="menu destinos">
            <div class="menu aba dupla dropdown">
                <div class="aba nacional">
                    <h3>Nacionais</h3>
                    <a class="no-top" href="/nacionais/centro-oeste/" title="Veja posts sobre Centro-Oeste">Centro-Oeste</a>
                    <a href="/nacionais/nordeste/" title="Veja posts sobre Nordeste">Nordeste</a>
                    <a href="/nacionais/norte/" title="Veja posts sobre Norte">Norte</a>
                    <a href="/nacionais/brasil/" title="Veja posts sobre Sudeste">Sudeste</a>
                    <a href="/nacionais/sul/" title="Veja posts sobre Sul">Sul</a>        
                </div>   
                <div class="aba internacional">
                    <h3>Internacionais</h3>
                    <a class="no-top" href="/internacionais/africa/" title="Veja posts sobre África">África</a>
                    <a href="/america-central/" title="Veja posts sobre América Central">América Central</a>
                    <a href="/america-do-norte/" title="Veja posts sobre América do Norte">América do Norte</a>
                    <a href="/internacionais/america-do-sul/" title="Veja posts sobre América do Sul">América do Sul</a>
                    <a href="/internacionais/asia/" title="Veja posts sobre Ásia">Ásia</a>
                    <a href="/internacionais/europa/" title="Veja posts sobre Europa">Europa</a>
                    <a href="/internacionais/oceania-e-pacifico/" title="Veja posts sobre Oceania e Pacífico">Oceania e Pacífico</a>        
                </div>
            <div class="clear">
        </div>
    <li><a href="/roteiros"><strong>ROTEIROS DE BOLSO</strong></a></li>
    <li><a href="/dicas"><strong>DICAS</strong></a></li>
</ul>
</div>