<div class="weather-calendar">
    <div class="weather-now">
        <span class="degrees">26.0</span>
        <span class="degrees-unit">C</span>
        <span class="city">Sydney, AU</span>
        <span class="date-time"><%= date %></span>
    </div>
</div>
<div class="social">
    <ul>
        <li><a href="http://facebook.com">Facebook</a></li>
        <li><a href="http://twitter.com/goodtripssite">Twitter</a></li>
        <li><a href="http://instagram.com/goodtripssite">Instagram</a></li>
        <li><a href="http://youtube.com">Youtube</a></li>
    </ul>
</div>
<div class="search">
    <input type="image" src="img/busca04.png">
    <form role="search" method="get" id="searchform" action="//instagram.com/">
        <input type="text" placeholder="search and hit enter..." name="s" id="s">
    </form>
</div>
</header>
<div class="banner">
<h1><img src="img/gopro.fone.mochila_logo.png" alt="Gopro Fone Mochila Logo"></h1>
</div>
<div class="menu-opcoes">
<ul>
  <li><a href="/"><strong>HOME</strong></a></li>
  <li>
    <div class="dropdown">
      <a href="/destinos"><strong>DESTINOS</strong></a>
      <div class="dropdown-content">
        <p>Nacionais</p>
        <a class="no-top" href="/nacionais/centro-oeste/" title="Veja posts sobre Centro-Oeste">Centro-Oeste</a>
        <a href="/nacionais/nordeste/" title="Veja posts sobre Nordeste">Nordeste</a>
        <a href="/nacionais/norte/" title="Veja posts sobre Norte">Norte</a>
        <a href="/nacionais/brasil/" title="Veja posts sobre Sudeste">Sudeste</a>
        <a href="/nacionais/sul/" title="Veja posts sobre Sul">Sul</a>
      </div>
    </div>
  </li>
  <li><a href="/roteiros"><strong>ROTEIROS DE BOLSO</strong></a></li>
  <li><a href="/dicas"><strong>DICAS</strong></a></li>
</ul>
</div>