<script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/themes/dark.js" type="text/javascript"></script>
<div id="mapdiv" class="visited-countries-map"></div>
<script type="text/javascript">
  AmCharts.makeChart("mapdiv",{
    type: "map",
    theme: "dark",
    projection: "mercator",
    panEventsEnabled: false,
    backgroundColor: "#535364",
    backgroundAlpha: 1,
    zoomControl: {
      zoomControlEnabled : false
    },
    dataProvider: {
      map: "worldHigh",
      getAreasFromMap: true,
      areas: [
        {
          "id": "AR",
          "showAsSelected": true
        },
        {
          "id": "BR",
          "showAsSelected": true
        },
        {
          "id": "ID",
          "showAsSelected": true
        },
        {
          "id": "AU",
          "showAsSelected": true
        },
      ]
    },
    areasSettings : {
      autoZoom : false,
      color : "#B4B4B7",
      colorSolid : "#84ADE9",
      selectedColor : "#84ADE9",
      outlineColor : "#666666",
      rollOverColor : "#9EC2F7",
      rollOverOutlineColor : "#000000"
    }
  });
</script>