<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>   
        </header> 
        <div class="painel-slug">
            <ol>
                <li>
                    <a href="produto.html">
                        <figure>
                            <img src="img/fotografias/lagonegro.png">
                            <figcaption>Legenda da Foto 350px</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto.html">
                        <figure>
                            <img src="img/fotografias/marys.jpeg">
                            <figcaption>St Mary's Cathedral</figcaption>
                        </figure>
                    </a>
                </li>
            </ol>
        </div>
        <div class="painel-diverso">
            <div><strong>INSTAGRAM</strong>
                <!-- SnapWidget -->
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/458506" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
            </div>
        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>    
    </body>
</html>